<footer class="container-fluid">
    <p>Footer Text</p>
  </footer>
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/jquery.js"></script>
<!-- <script type="text/javascript" src="/js/owl.carousel.min.js"></script> -->
<script src="/js/register.js"></script>
</body>
</html>