<footer class="fot mt-1">
    <div class="container">
       
        <div class="row">
          <div class="col">
            <div class="col-lg-12">
                <ul class="list-inline ">
                    <li class="mt-3 text-muted">
                        <a href="/about/#">Home</a>
                    </li>
                    
                    <li  class="mt-3 text-muted">
                        <a href="/about/#about">About</a>
                    </li>
                    
                    <li  class="mt-3  text-muted">
                        <a href="/about/#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Belal Sukari &copy;  Web Design  2020. All Rights Reserved</p>
            </div>
          </div>
          <div class="col">
              <div class="col-md-12" >
                <h4 class="text-monospace fotrss ">Kleinanzeigen </h4>
                <p class="text-monospace fotrss">gemeinnützige Organisation</p>
              </div>
              <div class="col-md-12">
                <h4 class="text-monospace fotrss">Ziel </h4>
                <p class="text-monospace fotrss">Erleichterung der Kommunikation zwischen Händler und Kunde</p>
              </div>

          </div>
          <div class="col">
            <div class="col text-center fotrs">
                <ul class="list-unstyled">
                    <li class=""><i class="fas fa-map-marker-alt fa-2x "></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Friedrich-Frank-Bogen 44
                        <p>hamburg  21033</p>
                       
                    </li>
    
                    <li class="mr-5 "><i class="fas fa-phone mt-4 fa-2x"></i> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; 01 629 664 219
                        
                    </li>
    
                    <li class=" mt-4"><i class="fas fa-envelope mt-4 fa-2x"></i> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                        belalsukari@gmail.com
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    
</footer>
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/jquery.js"></script>
<!-- <script type="text/javascript" src="/js/owl.carousel.min.js"></script> -->
<script src="/js/register.js"></script>
</body>
</html>