<%- include('./partials/header.ejs')-%>
<%- include('./partials/navbar.ejs')-%>


    
    <!-- Header -->
    <a name="home"></a>
    <div class="intro-header">
      <div class="bg-overlay">
        <div class="container">
  

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Willkommen bei Kleinanzeigen</h1>
                      <h3> Wir sind ein kostenloser Service, um Ihre Anzeigen zu vermarkten oder nach Ihren Interessen zu suchen. Sie können sich einfach auf der Website Registrieren</h3>
                        <hr class="intro-divider">
                        <!-- <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/Ferreir4Thiago" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/ThiagoFerreir4" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/thiagoferreir4" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                            <li>
                                <a href="https://www.freecodecamp.com/thiagoferreira" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-free-code-camp fa-fw"></i> <span class="network-name">freeCodeCamp</span></a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
      </div>
    </div>
    <!-- /.intro-header -->

 <!-- Page Content -->

	<a  name="about"></a>
    <div class="content-section-a">
      <div class="bg-overlay2">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="pt-4 text-white">Über mich</h2>
                  <h2 class="section-heading"> Web Design </h2>
                  </br>
                   <p>Ich bin Balal Sukari, arbeite im Bereich Webdesign und habe am Institut DCI in Hamburg studiert. </p>
                    <h2 class=" text-white">Von Erfahrung</h2>
                    <div class="container">
                        <div class="row  ">
                          <div class="col bg-dark mr-2 text-white">HTML</div>
                          <div class="col bg-dark mr-2 text-white">CSS</div>
                          <div class="col bg-dark mr-2 text-white">JAVASCRIPT</div>
                          <div class="col bg-dark mr-2 text-white">JQUERY</div>
                          <div class="col bg-dark mr-2 text-white">BOOTSTRAP</div>
                          <div class="col bg-dark mr-2 text-white">NODE.JS</div>
                          <div class="col bg-dark mr-2 text-white">REACT</div>


                        </div>
                </div>
               
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 collapse navbar-collapse">
                    <img class="img-circle img-responsive" src="https://68.media.tumblr.com/ccd0e1b1bdb3492eecdac39b8d42d7ad/tumblr_nwh4pmSv8k1ud7rr3o1_400.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
      </div>
     </div>
    </div>
  
     <!-- Portfolio Grid Section -->
   

	<a  name="contact"></a>
    <div class="banner">
      <div class="bg-overlay4">
        <div class="container">         
            <div class="row">
                <div class="col-lg-12">
                    <section class="">

                        <!--Section heading-->
                        <h2 class="h1-responsive font-weight-bold text-center  ">Contact us</h2>
                        <!--Section description-->
                        <p class="text-center w-responsive mx-auto mb-4">Haben Sie irgendwelche Fragen? Bitte zögern Sie nicht, uns direkt zu kontaktieren. Unser Team wird sich innerhalb weniger Stunden bei Ihnen melden, um Ihnen zu helfen..</p>
                    
                        <div class="row">
                    
                            <!--Grid column-->
                            <div class="col-md-9 mb-md-0 mb-5">
                                <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                    
                                    <!--Grid row-->
                                    <div class="row">
                    
                                        <!--Grid column-->
                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                <input type="text" id="name" name="name" class="form-control fm">
                                                <label for="name" class="">Your name</label>
                                            </div>
                                        </div>
                                        <!--Grid column-->
                    
                                        <!--Grid column-->
                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                <input type="text" id="email" name="email" class="form-control fm">
                                                <label for="email" class="">Your email</label>
                                            </div>
                                        </div>
                                        <!--Grid column-->
                    
                                    </div>
                                    <!--Grid row-->
                    
                                    <!--Grid row-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="md-form mb-0">
                                                <input type="text" id="subject" name="subject" class="form-control fm">
                                                <label for="subject" class="">Subject</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Grid row-->
                    
                                    <!--Grid row-->
                                    <div class="row">
                    
                                        <!--Grid column-->
                                        <div class="col-md-12">
                    
                                            <div class="md-form">
                                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea fm"></textarea>
                                                <label for="message">Your message</label>
                                            </div>
                    
                                        </div>
                                    </div>
                                    <!--Grid row-->
                    
                                </form>
                    
                                <div class="text-center text-md-left">
                                    <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                                </div>
                                <div class="status"></div>
                            </div>
                            <!--Grid column-->
                    
                            <!--Grid column-->
                            <div class="col-md-3 text-center">
                                <ul class="list-unstyled mb-0">
                                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                                        <p>Friedrich-Frank-Bogen 44</p>
                                        <p>hamburg  21033</p>
                                    </li>
                    
                                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                                        <p> 01 629 664 219</p>
                                    </li>
                    
                                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                                        <p>belalsukari@gmail.com</p>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->
                    
                        </div>
                        <div class="container pt-2">
                            <div class="row  ">
                                <div class="list-inline col  mr-2 ">
                                    <li>
                                        <a href="#" target="_blank" class="smm btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Facebook</span></a>
                                    </li>
                                  </div>
                              <div class="list-inline col  mr-2 sm">
                                <li>
                                    <a href="#" target="_blank" class="smm  btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                                </li>
                              </div>
                              <div class="list-inline col  mr-2 ">
                                <li>
                                    <a href="https://github.com/Belalsukri" target="_blank" class="smm  btn-lg "><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                                </li>
                              </div>
                              <div class="list-inline col  mr-2 ">
                                <li>
                                    <a href="https://www.linkedin.com/in/thiagoferreir4" target="_blank" class="smm  btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                                </li>
                              </div>
                              
                              
            
            
                            </div>
                    </div>
                    </section>
                </div>
              </br>
              
      
               
        </div>
        <!-- /.container -->
    </div>
</div>
</div>
</div>
    <!-- /.banner -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#portfolio">Portfolio</a>
            </li>
           <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </div>
    <!-- Footer -->
   

    

</body>
<%- include('./partials/footer.ejs')-%>